
        h1 {
            font-size: 65px;
            color:orange;
            font-family: sans-serif;
            font-style: italic;
            text-align: center;
        }
        ul {
            background-color: aquamarine;
            text-align: left;
        }
        p {
            font-weight: 600;
            font-size: 3em;
            text-decoration: underline;
        }
        body {
            font-size: 16px;
        }
        .bg-color {
            background-color: #ff91af;
        }
        #amarelo {
            background-color: yellow;
        }
        #vermelho {
            background-color: red;
        }
        #marrom {
            background-color: brown;
        }
    