.super-mario {
    width: 200px;
    position: absolute;
    left: 20px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 340px;
    left: 140px;
  }
  
  .baloon {
  position: absolute;
  top: 200px;
  left: 300px;
  z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 240px;
    left: 320px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 310px;
    left: 600px;
  }